#info{
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
}

#info .material{
    margin: 0;

}

#info .material{
    width: 40%;
    margin-bottom: 50px;
}

#info .material img{
    width: 100%;
  flex-wrap: wrap;
}


@media(max-width:480px){
    #info .material{
        flex-grow: 1;
}

#info .material img{
    width: 90%;
    left: 0;
}
}